body {
    margin: 60px auto;
    width: 70%;
    background-color: #ffffff;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    /* color: #4c7ab0; */
    color: #6C7B89;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    text-align: center;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #304973;
}

h2 {
    font-size: 1.5em;
    color: #80AE6F;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

ul {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
    padding = 1em

}

header {
  background: #fffef7;
  color: #304973;
}

/*
header a {
  color: #304973;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
*/

/*
.nav {
  font-size: 20px;
}

*/

.main_header {
  font-size: 35px;
  font-weight: 700;
}


footer {
    border-top: none;
    font-size: .8em;
}

ul.posts {
    margin: 25px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 670px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/* COLLAPSIBLE */
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 1em;
  text-transform: none;
  text-align: left;

  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: none;
  color: currentColor;
  background: none;

  cursor: pointer;

  border-radius: 0% 10% 10% 0%;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #faf5e3;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: none;
  border-bottom: none;
  border-left: none;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 245, 227, .8);
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: .5rem 1rem;
}
