<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<title>Jennifer Kuo&thinsp;|&hairsp;Research</title>
		</head>
		<body>
			<div class="capsule">
			<header role="banner" class="topmatter">
				<div class="name">
					Jennifer Kuo
				</div>
				<nav>
					<a href="/">home</a> /
					<a href="/research" title="research">research</a> /
					<a href="/cv" title="cv">CV</a>
				</nav>
			</header>

			<!-- <header class="inner">
  				<h1 class="main_header">
				<a href="/" title="Home">Jennifer Kuo</a>
  				</h1>
  				<div class="nav">
					<a href="/">home</a> /
					<a href="/research" title="research">research</a> /
					<a href="/cv" title="cv">CV</a>
  				</div>
			</header>
			-->



			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jennifer.x.kuo@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jenniferxkuo">github.com/jenniferxkuo</a></li>
				</ul>
			</footer>
		</body>
	</html>
